.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(48, 45, 45);
}
#heading {
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em ;
    color: rgb(50, 221, 50);
    justify-items: center;
}
.game-box {
    display      : grid;
    border       : 1px solid black;
    align-items  : center;
    color: yellow;
    justify-items: center;
  }
.game-box:hover {
    background-color: gray;
}
  .gameplay {
    padding: 10px;
    display              : grid;
    justify-content      : center; 
    grid-template-columns: repeat(3, 100px);
    grid-template-rows   : repeat(3, 100px);
  }
#result{
    margin: 20px;
    background-color: aqua;
    width: 100px;
    height: 50px;

}